<navbar></navbar>

<div class="containerWidth mat-elevation-z8">
  <div class="row topTier">
    <h3 id="sectionalHeader" >Patients</h3>
  <div class="sectionalInput">

      <!-- <button mat-raised-button color="primary" id="addBtn" routerLink="/mdmuser" >Add</button>
     <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
    <!--  <mat-form-field>
          <mat-select placeholder="Select Practice"  [(ngModel)]="practice" >
              <mat-option value="{{practice.practiceName}}" *ngFor="let practice of newpractice">{{practice.practiceName}}</mat-option>-->
        <!-- <mat-option value="Surgicore of JC">Surgicore of JC</mat-option>
          <mat-option value="All City Family Health Care">All City Family Health Care</mat-option>        
          <mat-option value="A&E Anesthesia Associates">A&E Anesthesia Associates</mat-option>        
          <mat-option value="Manalappan Surgery Center">Manalappan Surgery Center</mat-option>--> 
        <!--</mat-select>              
      </mat-form-field>-->
  <!--  <mat-form-field id="selectPractice">
      <mat-select placeholder="Select Practice">
        <mat-option value="New Horizon Surgical Center">New Horizon Surgical Center</mat-option>
        <mat-option value="Surgicore of JC">Surgicore of JC</mat-option>
        <mat-option value="All City Family Health Care">All City Family Health Care</mat-option>        
        <mat-option value="A&E Anesthesia Associates">A&E Anesthesia Associates</mat-option>        
        <mat-option value="Manalappan Surgery Center">Manalappan Surgery Center</mat-option>
      </mat-select>              
    </mat-form-field>
    -->

    <mat-form-field>
      <mat-select placeholder="Select Practice"   [(ngModel)]="practice" >
          <mat-option value="{{practice.practiceName}}" *ngFor="let practice of newpractice">{{practice.practiceName}}</mat-option>
    <!-- <mat-option value="Surgicore of JC">Surgicore of JC</mat-option>
      <mat-option value="All City Family Health Care">All City Family Health Care</mat-option>        
      <mat-option value="A&E Anesthesia Associates">A&E Anesthesia Associates</mat-option>        
      <mat-option value="Manalappan Surgery Center">Manalappan Surgery Center</mat-option>--> 
    </mat-select>              
  </mat-form-field>

    <mat-form-field >
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Patient">
    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button class="primaryColor" routerLink="/mdmuser" id="save">Add Patient</button>
  </mat-card-actions>
  </div>
  </div>
  
  <table #table mat-table [dataSource]="dataSource" MatPaginator matSort >

    <!-- Practice Name Column -->
    <ng-container matColumnDef="patientId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Patient ID </th>
      <td mat-cell *matCellDef="let patient"> {{patient.patientId}} </td>
    </ng-container>

    <!-- Practice Name Column -->
    <ng-container matColumnDef="Name"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Name </th>
      <td mat-cell *matCellDef="let patient"> {{patient.firstName}} {{patient.lastName}} </td>
    </ng-container>

    <!-- Practice Name Column -->
    <!-- <ng-container matColumnDef="Age"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Age </th>
      <td mat-cell *matCellDef="let patient"> {{patient.age}}</td>
    </ng-container> -->

    <!-- Practice Name Column -->
    <!-- <ng-container matColumnDef="gender"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Gender </th>
      <td mat-cell *matCellDef="let patient"> {{patient.gender}}</td>
    </ng-container> -->

    <!-- Practice Name Column -->
    <!-- <ng-container matColumnDef="phone"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Phone </th>
      <td mat-cell *matCellDef="let patient"> {{patient.homePhone}}</td>
    </ng-container> -->
    
    <!-- City Column -->
    <!-- <ng-container matColumnDef="Practice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Practice </th>
      <td mat-cell *matCellDef="let patient"> {{patient.practice}} </td>
    </ng-container> -->

    <!-- City Column -->
    <!-- <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
      <td mat-cell *matCellDef="let patient"> {{patient.dob | date :'mediumDate' }} </td>
    </ng-container> -->

     <!-- City Column 
    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor </th>
      <td mat-cell *matCellDef="let patient"> {{patient.doctor}} </td>
    </ng-container>-->

    
    <ng-container matColumnDef="attorney">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attorney </th>
      <td mat-cell *matCellDef="let patient"> {{patient.attorneyFirstName}} {{patient.attorneyLastName}} </td>
    </ng-container>

    <ng-container matColumnDef="Tasks">
      <th mat-header-cell  *matHeaderCellDef> Tasks </th>
      <td  mat-cell *matCellDef="let patient"> <button mat-raised-button class="dangerColor" (click)="deletePatient(patient.patientId)" >Delete</button> | <button mat-raised-button class="infoColor" [routerLink]="['/patient/documents/',patient.patientId]" >Date of Service</button>|<!--<button mat-raised-button class="primaryColor" (click)="openEditPatientDialog(patient.patientId)" >Edit</button>-->  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


