

<navbar></navbar>
<div class="mat-elevation-z8 containerWidth" >
<mat-card>
  <mat-card-content>
      <div class="row">  
     <div class="col-2">
      PatientId 
      </div>
       <div class="col-2">
       Practice 
       </div>
       
       <div class="col-2">
          doctor
         </div>
         <div class="col-2">
            doctypes - dos
           </div>
      </div>
      
          <div class="row" *ngFor="let patientr of patient; let i=index">
              <div class="col-2">
                 {{patientr.patientItem}}
                  </div>
                  <div class="col-2">
                      {{patientr.practice}} 
                      </div>
                      <div class="col-2">
                          {{patientr.doctor}} 
                          </div>
                         <div class="col-4">
                       <div *ngFor="let pat of patientr.documentTypes; let k=index" class="row">
                           <a href="#" (click)="openAssignAttorneyDialog(patientr.dosFrom[k]+ 'to' +patientr.dosTo[k], k, patientr, $event)" >   {{pat}}({{patientr.dosFrom[k] }}-{{patientr.dosTo[k]}}) </a>
                            </div>
                            </div>
                      </div>
                      <button mat-raised-button color="primary" id="updateBtn" (click)="Update()">Update</button>
          </mat-card-content>
          </mat-card>
</div>
        
