<navbar></navbar>
<div class="mat-elevation-z8 containerWidth" >
  <!--  <div class="row topTier" >
        <div class="sectionalInput">-->
<table  #table mat-table [dataSource]="dataSource">

  <!-- Practice Name Column -->
  <ng-container matColumnDef="patientId">
    <th mat-header-cell *matHeaderCellDef  >Patient ID </th>
    <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientId}}</td>
  <!-- <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.patientId}}</td>-->
  </ng-container>

  <!-- Practice Name Column -->
  <ng-container matColumnDef="Name"  >
    <th mat-header-cell *matHeaderCellDef  > Name </th>
   <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.firstName}} {{currentPatient.lastName}} </td>
 <!--  <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.firstName}} {{currentPatient.patientItem.lastName}} </td>-->
  </ng-container>

  <!-- Practice Name Column -->
  <ng-container matColumnDef="Age"  >
    <th mat-header-cell *matHeaderCellDef  > Age </th>
   <!-- <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.age}}</td>-->
   <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.age}}</td>
  </ng-container>

  <!-- Practice Name Column -->
  <ng-container matColumnDef="gender"  >
    <th mat-header-cell *matHeaderCellDef  > Gender </th>
   <!-- <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.gender}}</td>-->
   <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.gender}}</td>
  </ng-container>

  <!-- Practice Name Column -->
  <ng-container matColumnDef="phone"  >
    <th mat-header-cell *matHeaderCellDef  > Phone </th>
   <!-- <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.homePhone}}</td>-->
   <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.homePhone}}</td>
  </ng-container>
  
  <!-- City Column -->
  <ng-container matColumnDef="Practice">
    <th mat-header-cell *matHeaderCellDef > Practice </th>
  <!--  <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.practice.practiceName}} </td>-->
  <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.practiceName}} </td>
  </ng-container>

  <!-- City Column -->
  <ng-container matColumnDef="doa">
    <th mat-header-cell *matHeaderCellDef > DOA </th>
   <!-- <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.patientItem.doa | date :'mediumDate' }} </td>-->
   <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.doa | date :'mediumDate' }} </td>
  </ng-container>

    <!-- City Column -->
  <ng-container matColumnDef="doctor">
    <th mat-header-cell *matHeaderCellDef > Doctor </th>
  <!--  <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.doctor.firstName}} </td>-->
  <td mat-cell *matCellDef="let currentPatient"> {{currentPatient.doctor}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!--</div>
</div>-->
<mat-divider></mat-divider>
<br>



<mat-accordion>
  <mat-expansion-panel id="expHeader" [disabled]="isDisabled">
    <mat-expansion-panel-header >
      <div class="col-4">
        Date of Service
      </div>
      <div class="col">
        Attorney Name
      </div>
      <div class="col">
          Action
        </div>
    <!--  <div class="col">
        Document
      </div>-->
    </mat-expansion-panel-header>
    <!-- <mat-accordion  *ngFor="let patientlist of patient">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="col-4">
              {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
            </div>
            <div class="col">
              {{patientlist.attorneyFirstName}} {{patientlist.attorneyLastName}}
            </div>
            <div class="col">
              {{patientlist.caseType}}  
            </div>
            <div class="col">
              <a>amount.docx</a>
            </div>
          </mat-expansion-panel-header>
            <div class="col-2">
              {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
            </div>
            <div class="col-2">
              {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
            </div>
            <div class="col-2">
              {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
            </div>
            <div class="col-2">
              {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
            </div>    
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion  *ngFor="let patientlist of patient">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="col-4">
                {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
              </div>
              <div class="col">
                {{patientlist.attorneyFirstName}} {{patientlist.attorneyLastName}}
              </div>
              <div class="col">
                {{patientlist.caseType}}  
              </div>
              <div class="col">
                <a>amount.docx</a>
              </div>
            </mat-expansion-panel-header>
              <div class="col-2">
                {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
              </div>
              <div class="col-2">
                {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
              </div>
              <div class="col-2">
                {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
              </div>
              <div class="col-2">
                {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }}
              </div>    
          </mat-expansion-panel>
        </mat-accordion> -->
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion *ngFor="let pat of patientr?.dosTo; let i=index" >
    <mat-expansion-panel  >
      <mat-expansion-panel-header >
        <div class="col-4">
          {{patientr?.dosFrom[i]}} To {{patientr?.dosTo[i]}} 
        </div>
        <div class="col">
            {{patientr.attorney[i]?.firstName}} {{patientr.attorney[i]?.lastName}}
        </div>
        <div class="col" *ngIf="isAttorney">
            <button mat-raised-button id="processedButton" class="primaryColor" >Processed</button>
          <!--<a>Fax20171002035533.pdf</a>-->
        </div>
      </mat-expansion-panel-header>
        <div class="panelBody">
      <!--  <div class="col">
          <a href="">Claims forms</a>-->
        <!--  <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
    <!--    </div>-->
        <div class="col">
        <!-- <a href="#" [routerLink]="['/mdmuser/mapDocuments/',patientr.patientItem]"> >-->
           <a href="#" (click)="openAssignAttorneyDialog(patientr.dosFrom[i]+'to'+patientr.dosTo[i], i, patientr, $event)"> >
            {{patientr.documentTypes[i]}}({{patientr.dosFrom[i]}} To {{patientr.dosTo[i] }})
          </a>
          </div>
          <!--<a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
      <!--  </div>
        <div class="col">
          <a href="">
            EOB({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>-->
       <!--   <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
       <!--</div>
        <div class="col">
            <a href="">
              Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
            </a>--> 
         <!--   <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a>
        </div> -->
        </div>    
    </mat-expansion-panel>
  </mat-accordion>
  
 <!-- <mat-accordion  *ngFor="let patientlist of patient">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div class="col-4">
            {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
          </div>
          <div class="col">
            {{patientlist.attorneyFirstName}} {{patientlist.attorneyLastName}}
          </div>
          
          <div class="col">
              <button mat-raised-button id="processedButton" class="primaryColor" >Processed</button>-->
            <!--<a>Fax20171002035533.pdf</a>-->
        <!--  </div>
        </mat-expansion-panel-header>
        <div class="panelBody">
        
        <div class="col">
          <a routerLink="/mdmuser/patients">Claims forms</a>-->
          <!--<a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
      <!--  </div>
        <div class="col">
          <a href="">
            Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>-->
          <!--<a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
    <!--    </div>
        <div class="col">
          <a href="">
            EOB({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>-->
          <!--<a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
       <!-- </div>
        <div class="col">
            <a href="">
              Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
            </a>-->
            <!--<a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
       <!-- </div>   
        </div> 
      </mat-expansion-panel>
    </mat-accordion>-->
    </div>







































<!--<mat-accordion  *ngFor="let patientlist of patient.dosFrom ; let i=index">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="col-4">-->
       
     <!--   {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} -->
    <!-- {{patient.dosFrom[i] }} To {{patient.dosTo[i] }}-->
    <!--date of services {{patientlist|json}}

      </div>
     
      <div class="col">-->
     <!--   {{patientlist.attorney}} {{patientlist.attorneyLastName}}
     {{patient.attorney[i].firstName}} {{patient.attorney[i].lastName}}
      </div>
      <div class="col">
          <button mat-raised-button id="goBtn" (click)="go()">processed</button>
        </div>
      <div class="col">
        <a>Fax20171002035533.pdf</a>
      </div>
    </mat-expansion-panel-header>
      <div class="panelBody">
      <div class="col">
        <a href="">{{patient.documentType[i]}}({{patient.dosFrom[i]}}-{{patient.dosTo}})</a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>

    </div>    
  </mat-expansion-panel>
</mat-accordion>-->
     <!-- <div class="col">
        <a href="">-->
     <!--     Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})-->
   <!--  {{patient.documentType[i]}}({{patient.dosFrom[i]}}-{{patient.dosTo}})
        </a>-->
      <!--  <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
 <!--     </div>
      <div class="col">
        <a href="">-->
       <!--   EOB({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})-->
     <!--  {{patient.documentType[i]}}({{patient.dosFrom[i]}}-{{patient.dosTo}})
        </a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
          <a href="">
            Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>
          <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>-->
 
<!--
<mat-accordion  *ngFor="let patientlist of patient">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="col-4">
          {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
        </div>
        <div class="col">
          {{patientlist.attorneyFirstName}} {{patientlist.attorneyLastName}}
        </div>
        
        <div class="col">
          <a>Fax20171002035533.pdf</a>
        </div>
      </mat-expansion-panel-header>
      <div class="panelBody">
      
      <div class="col">
        <a routerLink="/mdmuser/patients">Claims forms</a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
        <a href="">
          Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
        </a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
        <a href="">
          EOB({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
        </a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
          <a href="">
            Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>
          <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>   
      </div> 
    </mat-expansion-panel>
  </mat-accordion>-->
 